#active{
  border: 2px solid #C84B31;
}
.sidebar-item:hover{
  background-color: #C84B31;
  color: white;
  transition: ease-in-out 350ms;
}

.home{
  width: 100vw;
  display: flex;
  background-color: #e4e9eb;
}

button{
  cursor: pointer;
}

button:disabled{
  opacity: .3;
  cursor: default;
}


@media only screen and (max-width: 899px){
.item-name{
  display: none;
}

.title{
  display: none;
}
}

/* Button Style */

.btn{
  border-radius: 5px;
  border: none;
  text-align: center;
  background-color: #182747;
  color: white;
  display: grid;
  place-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

/* Menu */

.add-order{
  background-color:#C84B31;
  width:7.5rem;
  height:2.5rem;
}

/* Order */

.confirm-order{
  width: 10rem;
  height: 2.5rem;
}


/* Add on */

.add-on{
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 3.5px;
}

.add-on-value{
  width: 2rem;
  text-align: center;
  font-size: .9rem;
  font-family: 'PT Sans', sans-serif;
}


/* Form */
.formbold-mb-5 {
  margin-bottom: 20px;
  overflow: hidden;
  display: grid;
  justify-items: center;
}
.formbold-pt-3 {
  padding-top: 12px;
}
.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
  border-radius: 10px;
  font-family: 'PT Sans', sans-serif;
  background-color: white;
  margin: 0 auto;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 675px;
  width: 100%;
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-items: center;
}
.formbold-form-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  margin-bottom: 12px;
}
.formbold-form-label-2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.formbold-form-input {
  width: 100%;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  outline: none;
  resize: none;
}
.formbold-form-input:focus {
  border-color: #C84B31;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 14px 32px;
  border: none;
  font-weight: 600;
  background-color: #C84B31;
  color: white;
  width: fit-content;
  cursor: pointer;
  margin-bottom: 2rem;
}
.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold--mx-3 {
  margin-left: -12px;
  margin-right: -12px;
}
.formbold-px-3 {
  padding-left: 12px;
  padding-right: 12px;
  overflow: hidden;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.w-full {
  width: 100%;
}
@media (min-width: 540px) {
  .sm\:w-half {
    width: 50%;
  }
}

/* Image input */
.file-input{
  display: none;
  visibility: none;
}

/* .add-file{
  position: relative;
  left: 1.5vw;
  width: 1.25rem;
  height: 1.25rem;
} */

#special{
  width: 100%;
  height: 5rem;
  padding: 0;
}
