*{
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    box-sizing: border-box;
  }


body{
  background-color: #e2e8e8
}


#active{
  border: 2px solid #007ea7;
}
.sidebar-item:hover{
  background-color: #007ea7;
  color: white;
  transition: ease-in-out 350ms;
}

.home{
  width: 100vw;
  display: flex;
  background-color: #e4e9eb;
}

.discount-tag{
  width: 4.5rem;
  height: 1.5rem;
  position: absolute;
  background-color: #2a9d8f;
  text-align: center;
  z-index: 1;
  color: white;
  display: grid;
  align-items: center;
  border-top-left-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

button{
  cursor: pointer;
}

button:disabled{
  opacity: .3;
  cursor: default;
}


@media only screen and (max-width: 899px){
.item-name{
  display: none;
}

.title{
  display: none;
}
}

/* Button Style */

.btn{
  border-radius: 3.5px;
  border: none;
  text-align: center;
  background-color: #003459;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  width: fit-content;
  height: 2.75rem;
  overflow: hidden;
}

.done{
  width: 3.5rem;
  height: 2rem;
}

/* Menu */

.add-order{
  background-color:#007ea7;
  width:7.5rem;
  height:2.5rem;
}

/* Order */

.confirm-order{
  width: 10rem;
}

/*notifications*/
.alert1{
  background-color: #00a8e8;
  padding: .25rem .75rem;
}

.alert2{
  background-color: #003459;
  padding: .25rem .75rem;
}

.alert3{
  padding: .25rem .75rem;
}

/* Radio */

.radioWrapper{
  display:flex;
  column-gap:1rem;
  text-align:center;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
}

.radioButton{
  width:1.25rem;
  height:1.25rem;
}


/* Add on */

.add-on{
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 3.5px;
}

.add-on-value{
  width: 2rem;
  text-align: center;
  font-size: .9rem;
  font-family: 'PT Sans', sans-serif;
}


/* Form */
.formbold-mb-5 {
  margin-bottom: 20px;
  overflow: hidden;
  display: grid;
  justify-items: center;
}
.formbold-pt-3 {
  padding-top: 12px;
}
.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
  border-radius: 10px;
  font-family: 'PT Sans', sans-serif;
  background-color: white;
  margin: 0 auto;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 675px;
  width: 100%;
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-items: center;
}
.formbold-form-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  margin-bottom: 12px;
}
.formbold-form-label-2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.formbold-form-input {
  width: 100%;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  outline: none;
  resize: none;
}
.formbold-form-input:focus {
  border-color: #007ea7;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 14px 32px;
  border: none;
  font-weight: 600;
  background-color: #007ea7;
  color: white;
  width: fit-content;
  cursor: pointer;
  margin-bottom: 2rem;
}
.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold--mx-3 {
  margin-left: -12px;
  margin-right: -12px;
}
.formbold-px-3 {
  padding-left: 12px;
  padding-right: 12px;
  overflow: hidden;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.w-full {
  width: 100%;
}
@media (min-width: 540px) {
  .sm\:w-half {
    width: 50%;
  }
}

/* Image input */
.file-input{
  display: none;
  visibility: none;
}

#special{
  width: 100%;
  height: 5rem;
  padding: 0;
}







